%h1 Новости
.page-header

  - @news.each do |news|
    %tr
      %td= news.date
      %td= news.title
      %td= news.text
      %td= link_to 'Подробнее', news
      %td= link_to 'Edit', edit_news_path(news)
      %td= link_to 'Destroy', news, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'Добавить новость', new_news_path
