%h1 Новости
.page-header
  - @news.each do |news|
    %h1= news.title
    .time= l news.date,:format=>:long
    %rp= news.text
    %h2=link_to 'Подробнее', news
    %td= link_to 'Редактировать', edit_news_path(news)
    \|
    %td= link_to 'Удалить', news, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'Добавить новость', new_news_path
