!!! 5
<<<<<<< Updated upstream
%html(lang="ru")
  %head
    =favicon_link_tag '/favicon.png', :type => 'image/png'
    %meta{:charset=>'utf-8'}
    %title Тех. поддержка
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'
    =csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li=link_to 'На главную', root_path
            %li
              -if !logged_in?
                =link_to "Регистрация"
          %ul.nav.pull-right
            -if logged_in?
              %li
                %li=link_to current_user.username
                %li=link_to "Выход"
            -else
              %li=link_to "Войти"

    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %h3 Меню
            %ul.nav.nav-list
              %li=link_to 'Test 1'
              %li=link_to 'Test 2'
              %li=link_to 'Test 3'
        .span8
          = bootstrap_flash
          = yield
    = javascript_include_tag "application"

%footer
  %p &copy; МГИУ 2013
=======
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Portal"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    =render 'layouts/topbar'

  %body


    .container

      .row
        .span3
          =render 'layouts/menu'

        .span9
          = bootstrap_flash
          = yield
    
      %footer

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
>>>>>>> Stashed changes
